/* Add your styles to public/css/dashboard.css */
body {
    background: url(photos/pexels-artem-podrez-6941083.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Comic Sans MS';
    height: 100vh;
     
}

body::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  #container1,#container{
    width: 70%;
    margin: auto; /* Add this line to center the container horizontally */
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid rgba(122, 169, 156, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  #container{
    margin-top: 300px;
  }
  .button-container {
    display: flex;
    flex-wrap: wrap;
}

.button-container button {
    display: none;
    margin: 5px; /* Adjust as needed */
}

.button-container button.active {
    display: inline-block;
}

  .login-button {
    background-color: #5ebd1e;
    color: #fff;
    font-size: small;
    padding: 5px ;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar {
    background-color: #1eb0bd;
    height: 50px;
    margin: 15px;
    border-radius: 16px;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px;
}

.lesson-clicked {
    color: rgb(162, 13, 212); /* Change the color as per your preference */
    /* Add any additional styling here */
}

.navbar-brand, .offcanvas-title {
    font-weight: 500;
    color: #d7fbf2;
    transition: 0.3s color;
      /* Add your styles for the navbar brand here */
      color: #fff; /* Change the color as needed */
      font-size: 20px; /* Adjust the font size */
      font-weight: bold; /* Make it bold */
      font-family: 'Comic Sans MS',cursive ; /* Add a fun font */
    
}
 /* Add more styles for the logo as needed */
 .navbar-brand span {
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover span {
    color: #33ccff; /* Change the hover color */
}



.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #fff;
    font-weight: 500;
    position: relative;
    font-size: 20px;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}
.offcanvas-body, .offcanvas-header{
    background-color: #1eb0bd;
    
}

#main-container{
    display: flex;
}



.login-button {
    background-color: #5ebd1e;
    color: #fff;
    font-size: small;
    padding: 5px ;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}
.navbar {
    background-color: #1eb0bd;
    height: 50px;
    margin: 15px;
    border-radius: 16px;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px;
}

.lesson-clicked {
    color: rgb(162, 13, 212); /* Change the color as per your preference */
    /* Add any additional styling here */
}

 .navbar-brand span {
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover span {
    color: #33ccff; /* Change the hover color */
}



.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #fff;
    font-weight: 500;
    position: relative;
    font-size: 20px;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}
.offcanvas-body, .offcanvas-header{
    background-color: #1eb0bd;
    
}
#gameHistoryChart {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width based on your design */
    margin: 20px auto; /* Center the chart and provide some spacing */
    display: block;
}
 
  @media (max-width: 768px) {
    

    #container1, #container{
        width: 90%;
 
     
    }
}