body {
    
        background: url(photos/pexels-artem-podrez-6941083.jpg);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        background-attachment: fixed;
       justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        font-family: 'Comic Sans MS', cursive;
        
    
}
body::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.login-button {
    background-color: #5ebd1e;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar {
    background-color: #1eb0bd;
    height: 70px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px;
}

.navbar-brand, .offcanvas-title {
    font-weight: 500;
    color: #d7fbf2;
    transition: 0.3s color;
      /* Add your styles for the navbar brand here */
      color: #fff; /* Change the color as needed */
      font-size: 30px; /* Adjust the font size */
      font-weight: bold; /* Make it bold */
      font-family: 'Comic Sans MS', cursive; /* Add a fun font */
    
}
 /* Add more styles for the logo as needed */
 .navbar-brand span {
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover span {
    color: #33ccff; /* Change the hover color */
}



.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #fff;
    font-weight: 500;
    position: relative;
    font-size: 20px;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}
.offcanvas-body, .offcanvas-header{
    background-color: #1eb0bd;
    
}

#container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 110px;
    position: relative;
}

.game-container {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width:70%;
    max-width: 400px; /* Adjusted width for better responsiveness */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.word-display {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

.word-image {
    width: 100%;
     /* Adjusted image width for responsiveness */
    height: 28vh;
    margin-bottom: 10px;
}

.game-container button {
    background-color: #1eb0bd;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Adjusted padding for better touch interaction */
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Full width for buttons */
    margin-top: 10px;
}

#score, #time-left {
    font-size: 18px;
    margin-top: 10px;
}

#score-value, #time-left-value {
    font-weight: bold;
}

#message-display {
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}
/* Leaderboard container style */
.leaderboard-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(122, 169, 156, 0.25);
    padding: 20px;
    width: 70%; /* Adjusted width for better responsiveness */
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;

}

#leaderboard-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#leaderboard-table th, #leaderboard-table td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#leaderboard-table th {
    background-color: #1eb0bd;

}

#leaderboard-table td {
    background-color: rgba(255, 255, 255, 0.9);
}

#leaderboard-table tbody tr:nth-child(even) td {
    background-color: rgba(238, 238, 238, 0.9);
}



.welcome-screen {
    background-color: #1eb0bd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    text-align: center;
    color: #fff;
}

.welcome-screen h2 {
    font-size: 24px;
    margin: 10px 0;
}

.welcome-screen p {
    font-size: 16px;
}

.welcome-screen input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
}

.welcome-screen button {
    background-color: #5ebd1e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}



/* Media query for tablets */
@media (max-width: 768px) {
    
    .word-display {
        font-size: 20px; /* Adjusted font size for tablets */
    }
    button {
        padding: 10px 15px; /* Adjusted padding for tablets */
    }
    .welcome-screen {
        width: 90%; /* Adjusted width for smaller screens */
    }
    .welcome-screen h2 {
        font-size: 20px; /* Adjusted font size for smaller screens */
    }
    .welcome-screen button {
        padding: 10px 15px; /* Adjusted padding for smaller screens */
    }
    #leaderboard-table {
        font-size: 14px;
    }

    #leaderboard-table th,
    #leaderboard-table td {
        padding: 6px 10px;
    }
    
    #container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* Media query for phones */
@media (max-width: 480px) {
   
    .word-display {
        font-size: 18px; /* Adjusted font size for phones */
    }
    button {
        padding: 10px 10px; /* Adjusted padding for phones */
    }
}